{{!-- <LinkTo @route="cart" class="d-flex justify-content-end p-2 cart-icon">
<i class="fa fa-5x fa-shopping-cart"></i>
</LinkTo> --}}



<GeneralContainer>
<div class="d-flex flex-column">

{{#each this.model as |product|}}
    <Product @product={{product}}/>
  {{/each}}

  

</div>
</GeneralContainer>